@import url(https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&family=Roboto&display=swap);
p,
a,
li,
h3,
h4 {
  color: $offwhite;
}
p,
a,
li,
span {
  font-family: "Roboto", sans-serif;
}
h2 {
  color: #bf8f32;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat Alternates", sans-serif;
}
