html {
  font-size: 62.5%;
  body {
    font-size: 1.8rem;
    background-color: rgb(16, 15, 15);
    line-height: 1.8;
  }
}
.inner-container {
  max-width: 135rem;
  margin: 0 auto;
}
.flex {
  display: flex;
  gap: 2%;
}
.flex-col-1 {
  width: 64%;
}
.flex-col-2 {
  width: 34%;
}