.home {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 4rem;
    color: $offwhite;
  }
  height: 90vh;
}
.face {
  width: 35rem;
}
.name {
  margin: 5rem;
  width: 80rem;
}
